<div class="top">
	<div class="columns">
		<div class="column is-full featured_wrapper p-0">
			<img src="../../assets/img/abertura.gif" class="serie" >
		</div>
	</div>
</div>
<div class="columns is-mobile is-multiline is-centered">
<div class="container-fluid " >
<div class="container">
	<div class="row p-0 last">
		<div class="column is-full pt-5 pb-5">
            
			<h1 class="has-text-white d-flex justify-content-center"><strong>Seasons</strong></h1>
		</div>
		<div class="col-sm" >
			<h3>Joao Victor</h3>
			<img src="../../assets/img/got1.jpeg" width="250px" height="250px">
		</div>
		<div class="col-sm">
			<img src="../../assets/img/got2.jpg" width="250px" height="250px">
		</div>
		<div class="col">
			<img src="../../assets/img/got3.jpg" width="250px" height="250px">
		</div>
		<div class="col">
			<img src="../../assets/img/got4.jpg" width="250px" height="250px">
		</div>
	</div>
	<div class="row ptp">
		<div class="col">
			<img src="../../assets/img/got5.jpg" width="250px" height="250px">
		</div>
		<div class="col">
			<img src="../../assets/img/got6.jpg" width="250px" height="250px">
		</div>
		<div class="col">
			<img src="../../assets/img/got7.jpg" width="250px" height="250px">
		</div>
       <div class="col">
			<img src="../../assets/img/got8.jpg" width="250px" height="250px">
		</div>
    </div>
    </div>
</div>
</div>