<div class="top">
	<div class="columns">
		<div class="column is-full featured_wrapper p-0">
			<img src="https://media.giphy.com/media/cPfFmx04dYku76O0te/giphy.gif" class="serie">
			<div class="title_wrapper">
				<span class="has-text-white">Trending Today</span>
				<h1 class="title is-1 has-text-white">The Untold Story of the great Lorem Ipsum</h1>
				<button class="button is-medium">Watch It Now</button>
			</div>
		</div>
	</div>
</div>
<div class="columns is-mobile is-multiline is-centered">
<div class="container">

	<div class="columns is-multiline p-0 pt-6 last">
		<div class="column is-full">
            
			<p class="has-text-white">Action Movies Collection</p>
		</div>
		<div class="column is-one-quarter" >
			<img src="../../assets/img/got1.jpeg" width="250px" height="250px">
		</div>
		<div class="column is-one-quarter">
			<img src="../../assets/img/got2.jpg" width="250px" height="250px">
		</div>
		<div class="column is-one-quarter">
			<img src="../../assets/img/got3.jpg" width="250px" height="250px">
		</div>
		<div class="column is-one-quarter">
			<img src="../../assets/img/got4.jpg" width="250px" height="250px">
		</div>
	</div>
	<div class="columns last">
		<div class="column is-one-quarter">
			<img src="../../assets/img/got5.jpg" width="250px" height="250px">
		</div>
		<div class="column is-one-quarter">
			<img src="../../assets/img/got6.jpg" width="250px" height="250px">
		</div>
		<div class="column is-one-quarter">
			<img src="../../assets/img/got7.jpg" width="250px" height="250px">
		</div>
       <div class="column is-one-quarter">
			<img src="../../assets/img/got8.jpg" width="250px" height="250px">
		</div>
    </div>
    </div>
</div>