@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap");


.container-fluid {
	background-color: black;
	color: aliceblue;
	padding-bottom: 15rem;

}
img {
	-webkit-box-reflect: below 0px
	linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.container-fluid img:hover {
	-webkit-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.last {
	padding-top: 3.5rem;
}
.featured_wrapper {
	position: relative;
}
.featured_wrapper img {
	width: 100%;
	width: 100%;
	height: 560px;
	-o-object-fit: cover;
	object-fit: cover;
}


.ptp{
	padding-top: 16%;
}

