<body>


    <div class="page-container">
                
                <form class="" action="#" method="POST">

                <h1>Sign Up</h1>
                    <input type="text" name="name" class="Name" placeholder="Name">
                    <input type="text" name="email" class="Email" placeholder="Email">
                    <input type="password" name="password" class="Address" placeholder="password">
                    <button type="submit" value="Add" name="submit">Enviar</button>
                    <button type="" routerLink="/login" value="Add" name="submit">Cancelar</button>
                </form>
            </div>
            
    
    </body>
