<div class="container-fluid bg-secondary">
    <div class="container bg-transparent">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card bg-transparent">
                    <img src="./assets/img/casastark.png" class="card-img-top" alt="Hollywood Sign on The Hill" />
                    <div class="card-body bg-transparent">
                        <h5 class="card-title text-white">House Stark</h5>
                        <p class="card-text text-white">
                            A Casa Stark de Winterfell é uma das grandes casas de Westeros e a principal casa nobre do
                            Norte, muitas casas menores são seus vassalos. Nos dias antigos eles governaram como Reis do
                            Inverno, mas desde a conquista Targaryen têm sido os Protetores do Norte. Sua sede,
                            Winterfell, é um antigo castelo famoso por sua força. O selo dos Starks é um lobo gigante
                            cinzento correndo em um campo branco de gelo, e seu lema é "O Inverno está Chegando".
                            O último rei Stark do Norte foi Torrhen, que se submeteu a Aegon, o Conquistador, no final
                            da Guerra da Conquista. Desde aquela época os Starks mantiveram o Norte para os reis dos
                            Sete Reinos como Guardiões do Norte.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent">
                    <img src="./assets/img/casalannister.jpg" class="card-img-top" alt="Palm Springs Road" />
                    <div class="card-body bg-transparent">
                        <h5 class="card-title text-white">House Lannister</h5>
                        <p class="card-text text-white">
                            A Casa Lannister de Rochedo Casterly é mais rica entre as Grandes Casas. Seu principal
                            castelo é Rochedo casterly. O brasão dos Lannister é um leão dourado em campo carmesim e seu
                            lema é Ouça-me rugir. O lema não oficial é Um Lannister sempre paga suas dívidas.
                            Os Lannister descendem de aventureiros Ândalos que casaram-se com as filhas do Rei do
                            Rochedo. O próprio Rei descendia de Lann, o Esperto, um lendário trapaceiro da Era dos
                            Heróis que enganou os Casterly e conseguiu o Rochedo Casterly para si. Os Lannister reinaram
                            como Reis do Rochedo até a Guerra da Conquista. Eles se renderam e tornaram-se senhores das
                            Terras do ocidente.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent">
                    <img src="./assets/img/casatargaryen.jpg" class="card-img-top" alt="Los Angeles Skyscrapers" />
                    <div class="card-body bg-transparent">
                        <h5 class="card-title text-white">House Targaryen</h5>
                        <p class="card-text text-white">
                            A Casa Targaryen é uma família nobre, descendentes da velha Valíria, que, por quase
                            trezentos anos, governou os Sete Reinos de Westeros.O símbolo Targaryen é um dragão
                            vermelho de três cabeças cuspindo fogo num fundo preto.Seu lema é "Fogo e
                            Sangue".
                            Eles eram uma das famílias conhecidas como Senhores de dragões que regiam o Império
                            Valiriano.Alguns anos antes da Perdição de Valíria, os Targaryens abandonaram seu lar em
                            Essos e se assentaram em Pedra do Dragão, uma antiga fortaleza valiriana na costa de
                            Westeros. Lá eles residiram por mais de um século, até que Aegon, o Conquistador e suas
                            irmãs-esposas, Visenya e Rhaenys,iniciaram a Guerra da Conquista.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent">
                    <img src="./assets/img/casatyrell.jpg" class="card-img-top" alt="Skyscrapers" />
                    <div class="card-body bg-transparent">
                        <h5 class="card-title text-white">House Tyrell</h5>
                        <p class="card-text text-white">
                            Casa Tyrell de Jardim de Cima é uma das Grandes Casas dos Sete Reinos, grandes senhores da
                            Campina. Um grande e rica casa, sua riqueza é apenas superada entre as Grandes Casas pela
                            Casa Lannister, os Tyrell porém possuem a maior força militar. Adicionalmente, as frotas de
                            seus vassalos da Casa Redwyne, dos senhores das Ilhas Escudo e dos senhores costeiros, caso
                            convocadas, formam uma armada que se equaliza caso não ultrapasse à Frota Real.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent">
                    <img src="./assets/img/casagreyjoy.jpg" height="233px" class="card-img-top"
                        alt="Palm Springs Road" />
                    <div class="card-body bg-transparent">
                        <h5 class="card-title text-white">House Greyjoy</h5>
                        <p class="card-text text-white">
                            A Casa Greyjoy de Pyke é uma das grandes casas de Westeros. Governa as Ilhas de Ferro, um
                            conjunto áspero e desolado de ilhas ao largo da costa oeste de Westeros, a partir do castelo
                            de Pyke. O chefe da casa é o Senhor Ceifeiro de Pyke.
                            O símbolo da Casa Greyjoy é uma lula-gigante dourada em fundo negro. Seu lema é "Nós não
                            semeamos", embora a frase "O que está morto não pode morrer" esteja estreitamente associada
                            à Casa Greyjoy e seus vassalos, uma vez que estes estão ligados à fé do Deus Afogado.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent">
                    <img src="./assets/img/casamartell.jpg" class="card-img-top" alt="Palm Springs Road" />
                    <div class="card-body bg-transparent">
                        <h5 class="card-title text-white">House Martell</h5>
                        <p class="card-text text-white">
                            A Casa Nymeros Martell de Lançassolar, formalmente conhecida como Casa Martell é uma das
                            Grandes Casas dos Sete Reinos, sendo a Casa governante de Dorne. Sua sede, o Velho Palácio
                            fica dentro de Lançassolar, na porção sul de Dorne.O antigo emblema da Casa Martell fundada
                            por Morgan durante a Invasão Ândala utilizava apenas uma lança dourada em campo laranja.
                            Quando Nymeria e Mors fundaram sua aliança em 700 a.C. eles combinaram seus emblemas, desde
                            então, o sol vermelho de Nymeria passou a figurar, trespassado pela lança Martell no brasão
                            da Casa Nymeros Martell.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent">
                    <img src="./assets/img/casarryn.jpg" class="card-img-top" alt="Palm Springs Road" />
                    <div class="card-body bg-transparent">
                        <h5 class="card-title text-white">House Arryn</h5>
                        <p class="card-text text-white">
                            Casa Arryn do Ninho da Águia é uma das Grandes Casas de Westeros, e a principal casa nobre
                            do Vale. Sua sede principal é o Ninho da Águia, mas possuem outras moradas, incluindo o
                            castelo de inverno nos
                            Portões da Lua. Ambas as fortificações se situam na Lança do Gigante, a montanha mais alta
                            do Vale, e o Ninho da Águia é considerado inexpugnável.Sua linhagem data dos velhos Ândalos
                            que invadiram Westeros. Normalmente se casando com outros nobres Ândalos, a Casa Arryn tem
                            atualmente a mais pura descendência da nobreza Ândala.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent">
                    <img src="./assets/img/casatully.jpg" class="card-img-top" alt="Palm Springs Road" />
                    <div class="card-body bg-transparent">
                        <h5 class="card-title text-white">House Tully</h5>
                        <p class="card-text text-white">
                            A Casa Tully é uma das sete grandes casas de Westeros. Seu território é conhecido como as
                            terras fluviais dominadas pelo Tridente, um grande rio formado pela confluência de três
                            "dentes" (daí a origem de seu nome) ou ramos, o Ramo Azul, Ramo Vermelho e Ramo verde os
                            quais junto com outros rios que atravessam suas terras, geram uma região bastante fértil.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card bg-transparent">
                    <img src="./assets/img/casabaratheon.jpg" height="233px" class="card-img-top"
                        alt="Palm Springs Road" />
                    <div class="card-body bg-transparent">
                        <h5 class="card-title text-white">House Baratheon</h5>
                        <p class="card-text text-white">
                            A Casa Baratheon de Ponta Tempestade é uma das Grandes Casas de Westeros e é a principal
                            casa das Terras da Tempestade. Sua sede é em Ponta Tempestade, um castelo antigo construído
                            pelos Reis da Tempestade. Seu brasão é um veado coroado negro num fundo dourado.Os
                            membros da família tendem a ser grandes, com cabelo preto e olhos azuis. Eles são conhecidos
                            por seus temperamentos vivos. Seu lema é Nossa é a Fúria.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>