<footer class="nb-footer bg-dark">
    <section class="copyright">
        <div class="container">
            <div class="row">
                <div class="about">
                    <img src="images/logo.png" class="img-responsive center-block" alt="">
                    <div class="social-media">

                        <a href=""><img src="./assets/img/linkedin.png"></a>

                        <a href=""><img src="./assets/img/github.png"></a>

                        <a href=""><img src="./assets/img/email.png"></a>
                    </div>
                </div>
                <div class="col-sm-12 text-center p-1">
                    <p>Copyright © 2022 - Jaqueline Feitosa de Sousa</p>
                </div>
            </div>
        </div>
    </section>
</footer>