<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <div class="navbar-brand" href="#"><img src="./assets/img/logot1.gif" width="120" height="75" alt="logo"></div>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Casas Got</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Serie</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login"><img src="./assets/img/login.png" style="filter: invert(100%);" width="20" height="20" alt="login"></a>
          </li>
    
    </ul>
    </div>
  </nav>
